

$banner-title-color: #e6e7e9

.section-header
  text-align: center
  color: $home-text-header-color
  +font-16
  height: auto
  line-height: rem-calc(75)
  margin-top: 0
  margin-bottom: 25px
  font-weight: 400
  .header
    color: $light-black-color
    +font-28-bold
  .subheader
    color: $sky-blue-color
    +font-16-light
    line-height: 32px
  &.with-subheader
    height: auto

#home-what-for-you
  padding: 40px 0 50px 0
  .title
    +h2
    color: $light-black-color
  ul
    +font-16-light
    +ul-with-blue-markers
  .svg-wrap
    text-align: center
  svg
    width: 200px
    height: 200px
    display: inline-block

  @media #{$small-only}
    .title
      line-height: 4rem

.statistics
  background-color: $light-black-color
  padding-bottom: rem-calc(64)
  .section-header
    text-align: center
    color: $dark-gray-color
    height: rem-calc(50)
    line-height: rem-calc(50)
    margin-top: 0
    margin-bottom: 0
    font-weight: 400
  .counter
    display: inline-block
    height: rem-calc(115)
    line-height: rem-calc(115)
    font-size: rem-calc(95)
    color: white
    border: 2px $sky-blue-color solid
    padding: 0 rem-calc(20)
    margin-right: 10px
  .text
    color: $yellow-orange-color
    text-transform: uppercase
    +font-30
    line-height: rem-calc(32)
    display: inline-block
  .by
    line-height: 115px
    text-align: center
    color: $sky-blue-color
    +font-18-light
    padding: 0

  @media #{$medium-down}
    > .row
      text-align: center
      .text
        margin-top: 1rem
        display: block

  @media #{$small-only}
    padding-bottom: 100px
    .section-header
      height: 90px
      line-height: 90px

#home-feedbacks
  background: $light-black-color
  padding-bottom: 15px
  overflow: hidden

  .rn-carousel-control, .owl-buttons
    width: 100%
    top: 50%
    margin-top: -35px

  .rn-carousel-control-prev, .owl-prev
    position: absolute
    left: 0

  .rn-carousel-control-next, .owl-next
    position: absolute
    right: 0
    left: auto

#home-carousel-wrapper
  text-align: center
  .rn-carousel-indicator span, .owl-pagination .owl-page
    color: $home-text-header-color
    width: 12px
    height: 12px
    margin: 0 15px
    display: inline-block
    line-height: 12px
    font-size: 24px
    &.active
      color: $fire-orange-color

#home-feedbacks-carousel
  height: 150px

.home-feedback
  position: relative
  height: 150px
  .feedback-inner
    max-width: 600px
    +font-14-semibold
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    position: absolute
    width: 100%
    .quote
      color: $yellow-orange-color
      text-align: center
      padding-left: 50px
      position: relative
      &:before
        content: "\201C"
        color: #6D3D31
        font-size: 120px
        position: absolute
        display: block
        left: 0
        line-height: 60px
    .name, .position
      text-align: right
      +light
    .name
      color: $sky-blue-color
    .position
      text-transform: uppercase
      color: $dark-gray-color

@media #{$small-only}
  .rn-carousel-control
    display: none

#home-feedbacks
  .owl-carousel
    .owl-pagination
      .owl-page
        display: inline-block
        &:before
          content: "●"
          width: 12px
          height: 12px
          font-size: 24px
          margin: 0 15px
        &.active
          &:before
            color: $fire-orange-color

#home-bottom-container
  background: $white-color
  padding: 50px 0 75px 0
  .title
    text-transform: uppercase
    +font-18
    +bold
    color: $light-black-color
  .button-container
    padding-top: 32px

button.start-now-button, button.schedule-call-button
  +button-with-subtitle-and-header
.button-container
  text-align: center
  max-width: 310px
  margin: 0 auto
  float: none !important
  position: relative
  .sub-button-text
    font-size: 14px
    font-weight: 300
    margin-top: 6px
    text-align: left
    padding-left: 89px
    a
      color: $sky-blue-color
      display: inline

#home-devices
  background: $white-color
