#home-feedbacks
	background: $light-black-color
	padding-bottom: 15px

#pricing__feedbacks
	.quote
		.text
			max-height: none
		&:before
			color: #ffcebf
	.carousel-wrapper
		position: relative

.carousel-wrapper
	text-align: center
	overflow: hidden
	padding-top: 0
	.rn-carousel-indicator
		span
			+carousel-indicator-bullet
	.owl-carousel
		margin-bottom: 50px
		padding-left: 0
		.owl-wrapper-outer
			height: auto !important
	.rn-carousel-control
		width: 100%
		.rn-carousel-control-prev
			position: absolute
			left: 0
		.rn-carousel-control-next
			position: absolute
			right: 0
			left: auto

.feedbacks-carousel
	height: auto

.feedback
	position: relative
	height: auto
	overflow: hidden
	.feedback-inner
		max-width: 600px
		+font-14-semibold
		+transform(translateX(-50%))
		left: 50%
		position: relative
		width: 100%
		.quote
			color: $yellow-orange-color
			text-align: center
			padding: 20px 50px 20px 50px
			left: -50px
			position: relative
			&:before, &:after
				color: #6D3D31
				font-size: 120px
				position: absolute
				display: block
				line-height: 60px
			&:before
				content: "\201C"
				left: 0
			&:after
				content: "\201D"
				right: 0
			.text
				max-height: 105px
				line-height: 21px
				overflow: hidden
		.logo-wrap
			text-align: center
			ng-include
				display: inline-block
			&:not(.ng-hide) + .quote
				margin-top: 15px
			svg
				max-width: inherit
				max-height: inherit
		.name, .position
			text-align: right
			+light
		.name
			color: $sky-blue-color
		.position
			text-transform: uppercase
			color: $dark-gray-color

@media #{$small-only}
	.rn-carousel-control
		display: none
	.feedback
		.feedback-inner
			.quote
				left: 0
				padding-left: 0
				padding-top: 40px
				&:before
					+transform(translateX(-50%))
					left: 10%
					top: 20px
