@import "app_basic"


@import "jquery.tagsinput/src/jquery.tagsinput"
@import "angular-carousel/dist/angular-carousel.min"
@import "owl.carousel"
@import "ngDialog/css/ngDialog.min"
@import "ngDialog/css/ngDialog-theme-default.min"
@import "angular-loading-bar/build/loading-bar.min"
@import "jcrop/css/jquery.Jcrop.min"
//@import "angular-material/angular-material.min"
@import "layout"
@import "popups"

@import "components/ripple"

@import "footable/css/footable.core.min"
@import "footable/css/footable.standalone.min"

@import "partials/plans"
@import "partials/feedbacks_carousel"
@import "partials/three_images_in_row"





@import "pages/wizard"
@import "form_components"
@import "partials/project_full_summary"
@import "pages/home"
@import "pages/faq"
@import "pages/contact"
@import "pages/how_it_works"
@import "pages/about"
@import "pages/dashboard"
@import "pages/profile"
@import "pages/pricing"
@import "pages/testing_services"
@import "pages/devices"


//@import "test_app.css"

.my-container
	min-height: 200px
	min-width: 200px
	background: lightcyan

	.item
		min-height: 60px
		min-width: 60px
		background: lightblue
	.container-header
		min-height: 50px
		background: lightpink

label
	+user-select